/* GLOBAL RESET */
* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html,
body {
    height: 100%;
    margin: 0;
    background-color: #e3ded9;

}

*,
*::before,
*::after,
*:hover {
    cursor: none !important;
}


.overlay {


    position: fixed;
    top: -50%;
    left: 0;
    width: 150%;
    height: 150%;
    object-fit: cover;
    pointer-events: none;
    z-index: 999;
    will-change: transform;
    mix-blend-mode: multiply;
    opacity: 90%;

}

main {
    height: 100vh;
    width: 100vw;
}



#followImg {
    width: 25%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    /* allow clicking through */
    z-index: 998;
    transform: translate(-50%, -50%);

}


/* Navigation*/

.fingers-small {
    display: none;
}

#navbar {
    width: 100%;
    z-index: 10;
    height: 20%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #fff;
    background-color: #e3ded9;

}


.flexitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


}

.nav-info {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 5%;
}


.logo {
    width: 2rem;
    height: auto;

}

.logo img {
    width: 2rem;
    height: auto;
}

.nav-menu {
    display: flex;
    flex-direction: row;

}

.nav-info a {
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
    color: #ce1800;
    display: block;
    font-family: "cochin", "Garamond", serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.nav-info a:hover {
    color: #ffffff;
    transform: scale(1.5);
}



.fingers {
    position: relative;
    top: 45%;
    width: 18%;

    z-index: 11;
}

.fingers img {
    width: 100%;
    height: auto;
}

.container {

    position: relative;
    height: 100%;


}

.face {
    height: 100%;
    display: block;
    position: relative;
    z-index: 10;

}

.eye-mask {
    position: absolute;
    top: 50%;
    left: 49%;
    height: 25%;
    width: 35%;
    overflow: hidden;
    z-index: 5;
    /* this should still be under face */
    pointer-events: none;
    /* optional: let mouse events pass through */
    background-color: #fff;

}

.eye {
    position: relative;
    width: 100%;
    height: 100%;


}

.pupil {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    transition: transform 0.05s linear;
}


.eye-mask2 {
    position: absolute;
    top: 70%;
    left: 4%;
    height: 25%;
    width: 30%;
    overflow: hidden;
    z-index: 5;
    /* this should still be under face */
    pointer-events: none;
    /* optional: let mouse events pass through */
    background-color: #fff;
}

.eye2 {
    position: relative;
    width: 100%;
    height: 100%;

}

.pupil2 {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    transform: translate(-50%, -50%);
    transition: transform 0.05s linear;
}

/*projects*/


.projects {
    position: relative;
    top: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 230vh;

}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.images-container img {
    width: 100%;


}

.images-container a {
    transition: transform 0.2s ease, color 0.2s ease;
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 7%;
}

.images-container a:hover {
    transform: scale(1.7)
}

.column {
    position: relative;
    height: 100%;
    border-right: 1px solid #fff;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: contents;
}


.sticky-label {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: sticky;
    top: 0;
    left: 100%;
}

.sticky-label p {

    color: #fff;
    font-family: "cochin", "Garamond", serif;
    font-weight: 700;
    font-size: 1.3rem;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    white-space: nowrap;
    inline-size: fit-content;

}


.about-container {

    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    align-content: center;
    transition: transform .5s ease-out;
    background-color: #e3ded9;
    margin: 0;
    padding: 7%;
    background-size: cover;
    background-attachment: fixed;
    /* Important! */
    background-position: center;
    border: 1px solid #fff;
    justify-content: center;

}

.about-container p {
    font-size: 5rem;
    line-height: 5rem;
    font-family: "Avenir Next", "Helvetica", sans-serif;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    align-self: center;

}

.about-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.about-img img {
    width: 70%;
    height: auto;
    transition: transform 0.3s;

}


.about-container img:hover {
    animation: wobble 0.6s infinite alternate;
    transform: scale(1.08);
}

@keyframes wobble {
    from {
        transform: scale(1.08) rotate(-3deg);
    }

    to {
        transform: scale(1.08) rotate(3deg);
    }
}


/* contact form */

#curtain {
    position: relative;
    height: 130vh;


}


.contact-content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
    height: 80%;
    width: 100%;
    transition: transform .5s ease-out;
    background-color: #e3ded9;
    margin: 0;
    padding: 7%;
    background-size: cover;
    background-attachment: fixed;
    /* Important! */
    background-position: center;
    border: 1px solid #fff;


}

.contact-content P {

    font-size: 7rem;
    line-height: 8rem;
    font-family: "Avenir Next", "Helvetica", sans-serif;
    font-weight: 700;
    color: #ffffff;
    z-index: 21;
    width: 40%;


}

.sentence-form {
    font-family: "cochin", "Garamond", serif;
    z-index: 22;
    width: 60%;
}

/* inline text chunks */
.chunk {

    display: inline-flex;
    align-items: baseline;
    width: 100%;
    padding-bottom: 5%;

}

label {
    text-wrap: nowrap;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #002b59;
    padding-right: 2%;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
    line-height: 1.5;
    font-family: "cochin", "Garamond", serif;
    font-size: 1.5rem;
    color: #002b59;
    width: 100%;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    padding-bottom: 1%;
    width: 100%;


}

input::placeholder {

    text-decoration: line-through;
    text-decoration-color: #dd0000;
    opacity: 1;
    margin: 0;


}

textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 1%;
    background: transparent;

}

textarea::placeholder {

    text-decoration: line-through;
    text-decoration-color: #dd0000;
    opacity: 1;
    margin: 0;



}

button {
    display: block;
    margin-top: 2rem;
    width: 6rem;
    height: 3rem;
    background-color: #ce1800;
    color: #fff8f4;
    border: none;
    font-family: "Avenir Next", sans-serif;
    font-weight: 700;
}

button:hover {
    color: #ce1800;
    background-color: #fff8f4;
    transform: scale(1.4);
    transition: transform .5s ease, color .5s ease;
}

.fingers-bottom {
    position: absolute;
    width: 23%;
    bottom: -3rem;
    left: 50%;
}

.fingers-bottom img {
    width: 100%;
    height: auto;
}


/* footer */



footer {

    position: sticky;
    z-index: 1;
    height: 70%;
    color: #ffffff;
    bottom: 0;
    width: 100vw;
    padding: 0;
}


.footer-content {
    display: flex;
    align-items: flex-start;
    top: 0;
}


.socials {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 35%;
    height: 2rem;
    width: 100%;
    align-items: center;
    color: #ce1800;
    font-family: "cochin", "Garamond", serif;
    font-weight: 700;
    padding: 0 2rem;
    gap: 2rem;


}


.soc-link a,
.socials p {
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
    color: #ce1800;
    display: block;


}

.soc-link a:hover {
    color: #ffffff;
    transform: scale(1.5);
}

.footer-content img {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
}



@media only screen and (max-width: 991px) {
    * {
        font-size: 13px;
    }

    .fingers {
        display: none;
    }


    .projects {

        height: 150vh;
    }

    .contact-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;


    }

    .contact-content P {

        margin: 0;
        padding-bottom: 5%;
        width: 100%;

    }

    .sentence-form {


        z-index: 22;
        width: 100%;
    }


    input,
    textarea {
        width: 100%;
    }



}

@media only screen and (max-width: 767px) {
    * {
        font-size: 12px;
    }

    #navbar {
        height: 15%;
        width: 100%;

    }

    .hand-container {
        display: none;
    }

    /*projects*/

    .projects {

        top: 0;
        margin-top: 15%;
        position: relative;
        display: block;
        height: 70vh;
        overflow-x: auto;
    }

    .column {

        display: contents;
    }

    .row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
        width: 300vw;
        overflow-x: auto;
        padding-left: 20%;
        gap: 10%;
        align-items: center;

    }

    .images-container {
        display: contents;


    }

    .images-container a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        height: auto;
        padding: 2%;

    }

    .images-container a.active {
        transform: scale(1.3);
    }

    .images-container img {

        width: auto;
        height: 100%;
    }


    .sticky-label {
        display: none;

    }

    /*about*/

    .about-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 90vh;

    }

    .about-container p {
        font-size: 4rem;
        text-align: center;
    }


    .about-container img {
        transition: transform 0.3s ease;
        width: 50%;
        height: auto;
    }

    .about-container img.wobble-active {
        animation: wobble 0.6s infinite alternate;
        transform: scale(1.08);
    }


    .contact-content p {
        font-size: 5rem;
    }

    .fingers-bottom {
        position: absolute;
        width: 25%;
        bottom: -2rem;
        left: 50%;
    }

    .fingers-bottom img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {

    * {
        font-size: 10px;
    }

    .container {

        display: none;
    }

    .fingers-small {
        display: block;
        position: absolute;
        width: 10rem;
        height: auto;
        left: 50%;
        bottom: -3.5rem;
        transform: translateX(-50%);
        pointer-events: none;

    }

    .fingers-small img {
        width: 100%;
        height: auto;

    }

    #navbar {
        z-index: 111;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 7rem;
        transition: height 1s ease;
        pointer-events: none;

    }

    .flexitems {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        font-size: 2rem;

    }

    #navbar.open {
        height: 90%;
    }


    .nav-top {

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        pointer-events: auto;
    }


    /* LOGO */

    .logo img {
        width: auto;
        height: 3rem;
    }

    .nav-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40% 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;

    }

    #navbar.open .nav-menu {
        opacity: 1;
        pointer-events: auto;
    }

    /* HAMBURGER RESET */
    .menu-toggle {
        background: none;
        border: none;
        padding: 0;
        width: 3rem;
        height: 2rem;
        position: relative;
        cursor: pointer;
    }


    .menu-toggle span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;

        border-bottom: 2px solid #ce1800;
        background: none;
        transition: transform 0.4s ease, opacity 0.3s ease;
    }

    .menu-toggle span:nth-child(1) {
        top: 0;
    }

    .menu-toggle span:nth-child(2) {
        top: 1rem;
    }

    .menu-toggle span:nth-child(3) {
        top: 2rem;
    }

    .menu-toggle:focus,
    .menu-toggle:active,
    .menu-toggle:hover {
        background: none;
        outline: none;
        box-shadow: none;
    }

    /* X TRANSFORM */
    #navbar.open .menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }

    #navbar.open .menu-toggle span:nth-child(2) {
        transform: rotate(-45deg) translateY(-10px);
    }

    #navbar.open .menu-toggle span:nth-child(3) {
        opacity: 0;
    }

    /* LINKS — CLOSED */
    .nav-link a {
        display: block;
        padding: 0;

    }

    /* LINKS — OPEN */
    #navbar.open .nav-link {
        display: block;
        margin: 5%;
    }

    footer {
        font-size: 1rem;
    }

    .socials {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (hover: hover) and (pointer: fine) {
    body {
        cursor: none;
    }
}