* {
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}

*,
*::before,
*::after,
*:hover {
    cursor: url('tiny-hand.png'), auto !important;
}

body {

    margin: 0;
    padding: 0;
    background-image: url(../landing/texturebackground.png);
    background-blend-mode: soft-light;
    background-blend-mode: multiply;
    background-color: #e3ded9;

}



#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #fff;
    height: 5rem;
    padding: 1rem 3rem;



}

.flexitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

.flexitems a {
    text-decoration: none;
    color: #fff;
    font-family: "cochin", serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.flexitems a:hover {
    color: #ce1800;
    transform: scale(1.5);
}


#logo {
    width: 2rem;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    overflow: auto;
    padding: 2rem;
    gap: 6rem;
}

.left-sticky {
    position: sticky;
    top: 0;
    height: 60vh;
    padding: 4rem 1rem;


}

.left-sticky h1 {

    font-family: "Avenir next", sans-serif;
    font-size: 4rem;
    color: #fff;

}

.left-sticky h3 {

    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #ffffff;
}

.left-sticky p {
    font-family: "cochin", serif;
    text-align: justify;
    color: #ffffff;
    font-size: 1.3rem;
}


.right img {
    width: 65vw;
    height: auto;
    z-index: 111;
}

@media only screen and (max-width: 600px) {
    .flexitems a {

        font-size: 1rem;
    }

    #logo {
        width: 1.5rem;
        height: auto;
    }
    
    .grid-container {
        padding: 0;
    }
 
    .left-sticky {
      
        padding: 2rem;
        height: auto;
       
    }

    .left-sticky h1 {
        font-size: 3rem;
       
    }

    .left-sticky h3 {
        font-size: 1.5rem;
    }

    .left-sticky p {
        font-size: 1rem;
    }

    .right {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        height: 50vh;
        overflow-x: auto;
        top: 0;
        padding: 0;
        -webkit-overflow-scrolling: touch;
    }

    .right img {
        height: 30rem;
        width: auto;
    }
}
@media only screen and (max-width: 1000px) { 
  


    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        height: auto;
        width: 100%;
    }

    .left-sticky {
    
        padding: 0;
        height: auto;
       
    }

    .right img{
        width: 100%;
    }

   
}
@media only screen and (max-width: 1199px) { 
    .left-sticky h1 {
        font-size: 3rem;
    }
    .left-sticky h3 {
        font-size: 1.5rem;
    }
    .left-sticky p {
        font-size: 1rem;
    }

}
